* {
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    color: #263238;
    margin: 0;
    padding: 0;
}   

body{
    box-sizing: border-box;
}

p{
    padding: 3px 0;
    text-align: justify;
}


.container{
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-template-areas: 
        "picture header"
        "aside main";
    grid-column-gap: 50px;
}


/* top left picture area */ 

.picture{
    grid-area: picture;
    display: flex;
    justify-content: center;
    background-color: #59B8BD;
}

#circleimage {
    height: 210px;
    margin: 65px 0 45px 0;
    border: 10px solid #4F8487;
    border-radius: 50%;
}
   

/* top right name area */ 

.header { 
    background-color: #ffffff;
    text-align: left;
    grid-area: header;  
}

h1{
    text-align: left;
    margin-top: 100px;
    font-family: sans-serif;
    font-size: 55px;
} 

#s-line{
    width: 80px;
    border-top: 3px solid #59B8BD;
}

#firstname{  
    color: #59B8BD;        
}

#lastname{
    font-weight: 300;
     
    color: #212121;
}

h2{
    font-size: 1.85rem;
    color: #212121;
}


/* bottom left about-me area and hobbies */ 

aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #59B8BD;
}

a{
    text-decoration: none;
}

aside h3{
    font-size: 1.75rem;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 0;
    color: #59B8BD;
    background-color: #263238;  
    margin-bottom: 10px;
}

#contact-details {
    padding: 25px 50px;
}

#about-me-details{
    padding: 25px 50px;
    text-align: justify;
}


#hobbies-details{
    text-align: center;
    margin: 40px 0;
}

#hobbies-details i{
    font-size: 2rem;
    height: 48px;
    width: 64px;
    padding-top: 16px;
    border: 2px solid #212121;
    border-radius: 50%;
    margin: 0 10px;
}

#hobbies{
    margin-top: auto; /* Align bottom */
}


/*bottom right main area with experience formation and recommandation */ 

main{
    grid-area: main;
    margin-right: 60px;
    margin-bottom: 80px;
}

.form .fas{
    font-size: 1rem;
    display: flex;
    align-content: center;
    margin-right: 25px;
    margin-left: 10px;
}

.work .fas{
    font-size: 1rem;
    display: flex;
    align-content: center;
    margin-right: 25px;
    margin-left: 10px;
}

.left{
    grid-area: left;
    font-weight: bold;
    display: flex;
}

.right{
    grid-area: right;
}

main h3{ 
    display: flex;
    font-size: 1.75rem;
    text-transform: uppercase;
    align-items: center;
}

main h4, main h5{
    font-size: 1rem;
    display: flex;
    text-transform: uppercase;
}

.city{
    display: inline-block;
}

main h3 i{
    display: inline-block;
    color: #59B8BD;
    margin: auto 20px auto 0px;        
    font-size: 2rem; 
}

main .left i{
    display: inline-block;
    color: #59B8BD;
    margin-right: 20px;        
    font-size: 2rem; 
}

 

.l-line{
    border-top: 3px solid #59B8BD;
    margin-bottom: 40px;
}



.work, .form{
    display: grid;
    grid-template-columns: 5fr 7fr;
    grid-template-areas: 
        "left  right";
    grid-column-gap: 30px;
    margin: 30px 0;
}

.recommandation-detail{
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-template-areas: 
        "reco2 reco2";
    grid-column-gap: 30px;
    margin-bottom: 60px;
    margin-left: 50px;
}





/* 
    MEDIA QUERIES FOR RESPONSIVENESS :
    ---+--------+--------+------------
    xs |    0px |  575px | Smartphones (portrait)
    sm |  576px |  767px | Smartphones (landscape)
    md |  768px |  991px | Tablets
    lg |  992px | 1199px | Small screens
    xl | 1200px |    +px | Large screens, TV etc...


*/

@media screen and (max-width: 1199px) 
{    
    .work, .form
    {
        display: grid;
        grid-template-columns: 5fr 7fr;
        grid-template-areas:
            "left right";
    }
}


@media screen and (max-width: 991px) 
{
    .container 
    {
        display: grid;
        grid-template-columns: 5fr 7fr;
        grid-template-areas: 
            "picture header"
            "aside main";
        grid-column-gap: 10px;
    }
        
    
    .work, .form
    {
        display: flex;
        flex-direction: column;
    }
    
    .left, .right
    {
        margin-left : 10px;
    }
    
    .recommandation-detail
    {
        display: flex;
        flex-direction: column;
    }
    
    .div1, .div2
    {
        margin-left: 10px;
    }




@media screen and (max-width: 768px) 
{
    .container 
    {
        display: flex;
        flex-direction: column;
    }
    
    
    header 
    {
        background-color: #59B8BD;
        text-align: center;
    }

    #circleimage {
        margin: 5px 10px;
    }

    h1{
        margin-top: 10px;
        text-align: center;
    }
    
    #firstname{
        color: white;
        font-size: 65%; 
    }
    
    #lastname{
        color: #212121;
        font-size: 65%       
    }
        
        
    #contact-details{
        padding: 20px 20px;
    }
    
    #about-me-details{
        padding: 20px 20px;
        text-align: justify;
    }
    
    h2{
        color: #212121;
        margin-bottom: 20px;
    }
    
    h3{
        margin-top: 10px;
    } 
    
    h4{
        display: inline-block;
        margin-left: 36px;
    }
    
    h5{
        display: inline-block;
        text-transform: uppercase;
        margin-left: 41px;
    }
      
    main{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
    
    main h3{
        font-size: 1.3rem;
    }
    
    main{
        margin-left: 10px;
    }
    
    main .fas{
        margin-right: 10px;
    }
    
    .form .far{
        margin-right: 10px;
    }
    
    .work .far{
        margin-right: 10px;
    }
    
    .form .fas{
        margin-right: 10px;
    }
    
    .work .fas{
        margin-right: 10px;
    }   
    
        
    .reco1{
        margin-bottom: 15px;
    }
    
    .recommandation-detail{
        margin-left: 10px;
    }    
}





